@import "props"

.header
  display: flex
  justify-content: space-between
  height: 276px
  background: url("img/bg1.jpg") no-repeat center
  background-size: cover
  &__logo
      padding: 27px 21px
  &__burger
      padding: 27px 21px
      width: 25px
      height: 28px

.burger
  color: white
  font-size: 29px

.action
  display: flex
  flex-wrap: wrap
  justify-content: center
  h1
    font-size: 32px
    line-height: 38px
    margin-top: 21px
    margin-bottom: 8px
  h2
    font-size: 24px
    margin-bottom: 8px
  &__button
    margin-bottom: 27px

.button
  width: 278px
  height: 48px
  cursor: pointer
  font-family: $myriad
  font-size: 16px
  text-transform: uppercase
  color: white
  display: flex
  justify-content: center
  align-items: center
  background: $blue
  border-radius: 30px
  border: none
  outline: none
  &:hover
    background-color: $light-blue

.about
  display: flex
  justify-content: center
  flex-wrap: wrap
  background-color: $light-grey
  &__img
    width: 100%
    height: 150px
    background: url("img/about.png") no-repeat center
    background-size: contain
    margin: 21px 0 25px 0
  &__button
    margin-bottom: 17px
  h3
    font-size: 18px
    margin-bottom: 10px
  p
    font-size: 12px
    margin-bottom: 12px
    padding: 0 21px

.steps
  display: flex
  flex-wrap: wrap
  justify-content: center
  padding-top: 27px

.step
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: center
  flex-direction: column
  h3
    font-size: 26px
    line-height: 21px
    margin-bottom: 8px
    padding: 0 20px
  p
    font-size: 14px
    line-height: 17px
    margin-bottom: 42px
    padding: 0 20px
  &__img-1
    width: 100%
    height: 190px
    margin-bottom: 27px
    background-image: url("img/step1.png")
    background-position: center
    background-repeat: no-repeat
    background-size: contain
  &__img-2
    @extend .step__img-1
    background-image: url("img/step2.png")
  &__img-3
    @extend .step__img-1
    background-image: url("img/step3.png")
  &__img-4
    @extend .step__img-1
    background-image: url("img/step4.png")

.mini-action
  display: flex
  justify-content: center
  flex-wrap: wrap
  background-color: $light-grey
  padding-top: 23px
  padding-bottom: 23px

  h2
    font-size: 24px
    line-height: 29px
    margin-bottom: 9px
    padding: 0 20px

.callback
  display: flex
  flex-wrap: wrap
  justify-content: center
  background-color: $blue
  padding-top: 32px
  h1
    font-size: 28px
    line-height: 34px
    text-transform: uppercase
    color: white
    margin-bottom: 11px
    padding: 0 20px
  p
    font-size: 14px
    line-height: 13px
    color: white
    margin-bottom: 14px
    padding: 0 20px
  &__phone
    padding: 0 20px
    display: flex
    align-items: center
    border: 1px solid #FFFFFF
    border-radius: 30px
    width: 236px
    height: 48px
    margin-bottom: 9px
    outline: none
  &__button
    background-color: $orange
    margin-bottom: 7px
  .personal-check
      font-size: 10px
      color: white
      input
        background-color: $blue
        border: 1px solid white

.feedback
  display: flex
  justify-content: center
  align-items: center
  padding-bottom: 20px
  .arrow-left
    margin-left: 22px
    margin-right: 8px
    color: $grey
  .arrow-right
    margin-right: 12px
    margin-left: 8px
    color: $grey

.feedback__wrapper
  display: flex
  flex-wrap: wrap
.title
  font-size: 28px

.review
  display: flex
  margin-bottom: 14px
  &__img
    margin-right: 20px
  &__author
    display: flex
    flex-direction: column
    justify-content: space-between
    .name
      font-size: 26px
    .company
      font-size: 18px
    .author__info
      font-size: 10px
      font-weight: lighter
.comment
  font-size: 12px
  width: 230px

.pros
  display: flex
  flex-wrap: wrap
  background-color: $light-grey
  &__title
    font-size: 28px
    line-height: 34px
    margin-left: 20px

.pros__container
  display: flex
  flex-wrap: wrap

.pros__item
  display: flex
  flex-direction: column
  align-items: center
  width: 86px
  margin: 12px 5px 10px 10px
  .item-img
    display: flex
    justify-content: center
    align-items: center
    background-color: white
    width: 86px
    height: 86px
    border-radius: 50%
  .item-text
    font-size: 10px
    font-weight: lighter
    text-align: center
