* {
  margin: 0;
  padding: 0;
}

html {
  font-family: myriad-pro,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.center {
  padding: 0 calc(50% - 160px);
}

h1 {
  font-family: myriad-pro,sans-serif;
  font-size: 28px;
  line-height: 34px;
  color: #363636;
}

h2 {
  font-family: myriad-pro,sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #363636;
}

h3 {
  font-family: myriad-pro,sans-serif;
  font-size: 18px;
  line-height: 22px;
}

p {
  font-family: myriad-pro,sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #363636;
}

a {
  font-family: myriad-pro,sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
}

a:hover {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #0055B8;
}

a:visited {
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #003675;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 276px;
  background: url("img/bg1.jpg") no-repeat center;
  background-size: cover;
}

.header__logo {
  padding: 27px 21px;
}

.header__burger {
  padding: 27px 21px;
  width: 25px;
  height: 28px;
}

.burger {
  color: white;
  font-size: 29px;
}

.action {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.action h1 {
  margin-top: 21px;
  margin-bottom: 8px;
}

.action h2 {
  margin-bottom: 8px;
}

.action__button {
  margin-bottom: 27px;
}

.button {
  width: 278px;
  height: 48px;
  cursor: pointer;
  font-family: myriad-pro, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #008DCD;
  border-radius: 30px;
  border: none;
  outline: none;
}

.button:hover {
  background-color: #94D1EC;
}

.about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #E1E1E1;
}

.about__img {
  width: 100%;
  height: 150px;
  background: url("img/about.png") no-repeat center;
  background-size: contain;
  margin: 21px 0 25px 0;
}

.about__button {
  margin-bottom: 17px;
}

.about h3 {
  margin-bottom: 10px;
}

.about p {
  margin-bottom: 12px;
  padding: 0 21px;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 27px;
}

.step {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.step h3 {
  margin-bottom: 8px;
  padding: 0 20px;
}

.step p {
  margin-bottom: 42px;
  padding: 0 20px;
}

.step__img-1, .step__img-2, .step__img-3, .step__img-4 {
  width: 100%;
  height: 190px;
  margin-bottom: 27px;
  background-image: url("img/step1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.step__img-2 {
  background-image: url("img/step2.png");
}

.step__img-3 {
  background-image: url("img/step3.png");
}

.step__img-4 {
  background-image: url("img/step4.png");
}

.mini-action {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #E1E1E1;
  padding-top: 23px;
  padding-bottom: 23px;
}

.mini-action h2 {
  margin-bottom: 9px;
  padding: 0 20px;
}

.callback {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #008DCD;
  padding-top: 32px;
}

.callback h1 {
  text-transform: uppercase;
  color: white;
  margin-bottom: 11px;
  padding: 0 20px;
}

.callback p {
  color: white;
  margin-bottom: 14px;
  padding: 0 20px;
}

.callback__phone {
  padding: 0 20px;
  display: flex;
  align-items: center;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  width: 236px;
  height: 48px;
  margin-bottom: 9px;
  outline: none;
}

.callback__button {
  background-color: #FFCC00;
  margin-bottom: 7px;
}

.callback__button:hover {
  background-color: #FCE39C;
}

.callback .personal-check {
  font-size: 10px;
  color: white;
  display: flex;
  align-items: center;
}

.callback .personal-check .checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.callback .personal-check .checkbox + label {
  position: relative;
  padding: 0 0 0 15px;
  cursor: pointer;
}

.callback .personal-check .checkbox + label:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 9px;
  height: 9px;
  background-color: #008DCD;
  border: 1px solid white;
}

.callback .personal-check .checkbox:checked + label:before {
  background-color: #FFCC00;
}

.feedback {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 20px;
}

.feedback__container {
  display: flex;
  align-items: center;
}

.arrow-left {
  margin-left: 22px;
  margin-right: 8px;
  color: #B3B3B3;
}

.arrow-right {
  margin-right: 12px;
  margin-left: 8px;
  color: #B3B3B3;
}

.feedback__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.title {
  margin-bottom: 10px;
  margin-left: 20px;
}

.review {
  display: flex;
  margin-bottom: 14px;
}

.review__img {
  margin-right: 20px;
}

.review__author {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review__author .name {
  font-size: 26px;
}

.review__author .company {
  font-size: 18px;
}

.review__author .author__info {
  font-size: 10px;
  font-weight: lighter;
}

.comment {
  font-size: 12px;
  width: 230px;
}

.pros {
  display: flex;
  flex-wrap: wrap;
  background-color: #E1E1E1;
}

.pros__title {
  margin-left: 20px;
}

.pros__container {
  display: flex;
  flex-wrap: wrap;
}

.pros__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 86px;
  margin: 12px 5px 10px 10px;
}

.pros__item .item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 86px;
  height: 86px;
  border-radius: 50%;
}

.pros__item .item-text {
  font-size: 10px;
  font-weight: lighter;
  text-align: center;
}

.guarantee {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.guarantee__container {
  display: flex;
  align-items: baseline;
}

.guarantee h1 {
  margin: 20px 20px;
}

.guarantee__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.img__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E1E1E1;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  margin-right: 10px;
}

.image-title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.image-title h3 {
  width: 100px;
}

.guarantee__button {
  margin: 20px 0;
}

.faq {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #94D1EC;
  padding-bottom: 25px;
}

.faq h1 {
  margin-top: 20px;
  margin-left: 20px;
}

.faq__question {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80px;
  border-radius: 32px;
  background-color: white;
  padding: 0 20px;
  margin: 5px 0;
}

.faq-chevron {
  color: #008DCD;
  margin-left: 10px;
}

.partners {
  display: flex;
  align-items: center;
}

.partners .logos {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #E1E1E1;
}

.footer h3 {
  margin: 12px 20px;
}

.footer form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer form input {
  margin-bottom: 10px;
  height: 40px;
  background-color: #E1E1E1;
}

.footer form input::placeholder {
  color: black;
}

.footer .footer__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.footer .footer__checkbox + label {
  position: relative;
  padding: 0 0 0 15px;
  cursor: pointer;
  font-size: 10px;
}

.footer .footer__checkbox + label:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 9px;
  height: 9px;
  background-color: #E1E1E1;
  border: 1px solid white;
}

.footer .footer__checkbox:checked + label:before {
  background-color: #008DCD;
}

.footer__button {
  margin-bottom: 12px;
}

.footer__personal-check {
  margin: 0px 0px 10px 20px;
}

.footer__nav {
  border-top: 1px solid #B3B3B3;
  border-bottom: 1px solid #B3B3B3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer__nav .footer__logo {
  margin: 20px;
}

.footer__nav .footer__burger {
  padding: 20px;
}

.footer__nav .footer__burger .footer__b {
  color: black;
}

.footer__copywrite {
  font-size: 10px;
  font-weight: 400;
  margin: 18px 0px 10px 20px;
}
