* {
  margin: 0;
  padding: 0;
}

html {
  font-family: myriad-pro,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.center {
  padding: 0 calc(50% - 160px);
}

h1 {
  font-family: myriad-pro,sans-serif;
  font-size: 28px;
  line-height: 34px;
  color: #363636;
}

h2 {
  font-family: myriad-pro,sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #363636;
}

h3 {
  font-family: myriad-pro,sans-serif;
  font-size: 18px;
  line-height: 22px;
}

p {
  font-family: myriad-pro,sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #363636;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: url("img/bg3.jpg") no-repeat;
  background-position: 80% 0%;
  background-size: auto 288px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.header__logo {
  padding: 27px 21px;
}

.open {
  padding: 27px 21px;
  width: 25px;
  height: 28px;
}

#switcher {
  visibility: hidden;
  position: absolute;
  left: -9999999px;
}

#switcher:checked ~ .navigation {
  right: 0%;
}

@media (max-width: 767px) {
  .navigation {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 100%;
    background-color: white;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  .navigation .close {
    position: absolute;
    top: 27px;
    right: 21px;
  }
  .navigation .close .cross {
    color: black;
  }
  .menu {
    margin-left: 23px;
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: space-between;
  }
  .menu__list {
    margin-bottom: 21px;
  }
  .menu__list a {
    font-size: 18px;
    line-height: 22px;
    color: black;
    text-decoration: none;
  }
  h3 {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .mobile-menu__form {
    margin-left: 20px;
  }
  .mobile-menu__phone {
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    width: 236px;
    height: 48px;
    margin-bottom: 9px;
    outline: none;
    border: 1px solid black;
  }
  .mobile-menu__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
  }
  .mobile-menu__checkbox + label {
    position: relative;
    padding: 0 0 0 15px;
    cursor: pointer;
    font-size: 10px;
  }
  .mobile-menu__checkbox + label:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 9px;
    height: 9px;
    background-color: #E1E1E1;
    border: 1px solid white;
  }
  .mobile-menu__checkbox:checked + label:before {
    background-color: #008DCD;
  }
  .social-wrapper {
    display: flex;
    width: 100%;
    height: inherit;
    justify-content: space-around;
    align-items: center;
  }
  .social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #008DCD;
    border-radius: 50%;
    color: white;
  }
  .footer__menu {
    display: none;
  }
}

.burger,
.cross {
  color: white;
  font-size: 29px;
}

.burger:hover,
.cross:hover {
  cursor: pointer;
}

.action {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 200px;
}

.action h1 {
  margin-top: 21px;
  margin-bottom: 8px;
}

.action h2 {
  margin-bottom: 8px;
}

.action__button {
  margin-bottom: 27px;
}

.button {
  width: 278px;
  height: 48px;
  cursor: pointer;
  font-family: myriad-pro, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #008DCD;
  border-radius: 30px;
  border: none;
  outline: none;
}

.button:active {
  background-color: #94D1EC;
}

.button:hover {
  box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
  border-radius: 30px;
}

.about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #E1E1E1;
}

.about__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about__img {
  width: 100%;
  height: 150px;
  background: url("img/about.png") no-repeat center;
  background-size: contain;
  margin: 21px 0 25px 0;
}

.about__button {
  margin-bottom: 17px;
}

.about h3 {
  margin-bottom: 10px;
}

.about p {
  margin-bottom: 12px;
  padding: 0 21px;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 27px;
}

.step {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.step h3 {
  margin-bottom: 8px;
}

.step p {
  margin-bottom: 42px;
  padding: 0 20px;
}

.step__img-1, .step__img-2, .step__img-3, .step__img-4 {
  width: 100%;
  height: 190px;
  margin-bottom: 27px;
  background-image: url("img/step1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.step__img-2 {
  background-image: url("img/step2.png");
}

.step__img-3 {
  background-image: url("img/step3.png");
}

.step__img-4 {
  background-image: url("img/step4.png");
}

.mini-action {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #E1E1E1;
}

.mini-action h2 {
  margin-top: 23px;
  margin-bottom: 9px;
  padding: 0 20px;
}

.mini-action__button {
  margin-bottom: 23px;
}

.callback {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #008DCD;
}

.callback h1 {
  text-transform: uppercase;
  color: white;
  margin-bottom: 11px;
  margin-top: 32px;
  padding: 0 20px;
}

.callback p {
  color: white;
  margin-bottom: 14px;
  padding: 0 20px;
}

.callback__phone {
  padding: 0 20px;
  display: flex;
  align-items: center;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  width: 236px;
  height: 48px;
  margin-bottom: 9px;
  outline: none;
}

.callback__button {
  background-color: #FFCC00;
  margin-bottom: 7px;
}

.callback__button:active {
  background-color: #FCE39C;
}

.callback__button:hover {
  box-shadow: 0px 4px 20px rgba(255, 204, 0, 0.55);
  border-radius: 30px;
}

.callback .personal-check {
  font-size: 10px;
  color: white;
  display: flex;
  align-items: center;
}

.callback .personal-check .checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.callback .personal-check .checkbox + label {
  position: relative;
  padding: 0 0 0 15px;
  cursor: pointer;
}

.callback .personal-check .checkbox + label:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 9px;
  height: 9px;
  background-color: #008DCD;
  border: 1px solid white;
}

.callback .personal-check .checkbox:checked + label:before {
  background-color: #FFCC00;
}

.feedback {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 20px;
}

.feedback__container {
  display: flex;
  align-items: center;
}

.arrow-left {
  margin-left: 22px;
  margin-right: 8px;
  color: #B3B3B3;
}

.arrow-right {
  margin-right: 12px;
  margin-left: 8px;
  color: #B3B3B3;
}

.feedback__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.second-comment {
  display: none;
}

.title {
  margin-bottom: 10px;
  margin-left: 20px;
}

.review {
  display: flex;
  margin-bottom: 14px;
}

.review__img {
  margin-right: 20px;
}

.review__author {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review__author .name {
  font-size: 26px;
}

.review__author .company {
  font-size: 18px;
}

.review__author .author__info {
  font-size: 10px;
  font-weight: lighter;
}

.comment {
  font-size: 12px;
  width: 230px;
}

.pros {
  display: flex;
  flex-wrap: wrap;
  background-color: #E1E1E1;
}

.pros__title {
  margin-left: 20px;
  margin-top: 37px;
}

.pros__container {
  display: flex;
  flex-wrap: wrap;
}

.pros__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 86px;
  margin: 12px 5px 10px 10px;
}

.pros__item .item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 86px;
  height: 86px;
  border-radius: 50%;
}

.pros__item .item-text {
  font-size: 10px;
  font-weight: lighter;
  text-align: center;
}

.guarantee {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.guarantee__container {
  display: flex;
  align-items: baseline;
}

.guarantee h1 {
  margin: 20px 20px;
}

.guarantee__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.guarantee__wrapper-tablet {
  display: none;
}

.img__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E1E1E1;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  margin-right: 10px;
}

.image-title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.image-title h3 {
  width: 100px;
}

.guarantee__button {
  margin: 20px 0;
}

.faq {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #94D1EC;
  padding-bottom: 25px;
}

.faq h1 {
  margin-top: 20px;
  margin-left: 20px;
}

.faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 80px;
  border-radius: 32px;
  background-color: white;
  padding: 0 20px;
  margin: 5px 0;
}

.faq-chevron {
  color: #008DCD;
  margin-left: 10px;
}

.partners {
  display: flex;
  align-items: center;
}

.partners .logos {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #E1E1E1;
}

.footer h3 {
  margin: 12px 20px;
}

.footer form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer form input {
  margin-bottom: 10px;
  height: 40px;
  background-color: #E1E1E1;
}

.footer form input::placeholder {
  color: black;
}

.footer .footer__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.footer .footer__checkbox + label {
  position: relative;
  padding: 0 0 0 15px;
  cursor: pointer;
  font-size: 10px;
}

.footer .footer__checkbox + label:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 9px;
  height: 9px;
  background-color: #E1E1E1;
  border: 1px solid white;
}

.footer .footer__checkbox:checked + label:before {
  background-color: #008DCD;
}

.footer__button {
  margin-bottom: 12px;
}

.footer__personal-check {
  margin: 0px 0px 10px 20px;
}

.footer__nav {
  border-top: 1px solid #B3B3B3;
  border-bottom: 1px solid #B3B3B3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer__nav .footer__logo {
  margin: 20px;
}

.footer__nav .footer__b {
  color: black;
}

.footer__copywrite {
  font-size: 10px;
  font-weight: 400;
  margin: 18px 0px 10px 20px;
}

.footer__copywrite-right {
  font-size: 10px;
  font-weight: 400;
  margin: 0px 0px 10px 20px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 44px;
    line-height: 53px;
  }
  h2 {
    font-size: 36px;
    line-height: 43px;
  }
  h3 {
    font-size: 26px;
    line-height: 31px;
  }
  p {
    font-size: 14px;
    line-height: 17px;
  }
  .center {
    padding: 0 calc(50% - (768px / 2));
  }
  .header {
    background-size: auto 370px;
    background-position: 100% 20%;
  }
  .open,
  .close,
  .mobile-menu__form,
  .mobile-menu__h3,
  .social-wrapper,
  .mobile-menu__logo {
    display: none;
  }
  .menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
  .menu__list {
    padding-right: 27px;
  }
  .menu li:last-child {
    padding-right: 10px;
  }
  .menu__list a {
    font-size: 14px;
    line-height: 17px;
    color: white;
    text-decoration: none;
    font-weight: lighter;
  }
  .action {
    margin-left: 20px;
    margin-top: 0;
    flex-direction: column;
  }
  .action h1,
  .action h2 {
    color: white;
    margin-bottom: 18px;
  }
  .about {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
  .about p,
  .about h3,
  .about button {
    margin-left: 20px;
  }
  .about p {
    padding: 0;
  }
  .about__content {
    width: 50%;
  }
  .steps {
    padding-top: 50px;
  }
  .steps .step {
    width: 50%;
    display: block;
  }
  .steps .step p {
    padding: 0;
  }
  .mini-action {
    flex-wrap: nowrap;
    align-items: center;
  }
  .mini-action__button {
    margin-bottom: 0;
  }
  .callback {
    flex-wrap: nowrap;
    align-items: center;
  }
  .callback form {
    margin-top: 30px;
  }
  .feedback {
    flex-direction: column;
    align-items: baseline;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .feedback h1 {
    margin-bottom: 26px;
  }
  .second-comment {
    display: flex;
  }
  .pros__container {
    width: 100%;
    justify-content: space-around;
  }
  .guarantee__container {
    width: 100%;
    justify-content: space-around;
  }
  .guarantee__wrapper {
    width: 220px;
  }
  .guarantee__wrapper-tablet {
    display: flex;
    margin-left: 20px;
  }
  .image-title {
    flex-direction: column;
    align-items: flex-start;
  }
  .image-title h3 {
    font-size: 18px;
    width: inherit;
  }
  .faq {
    padding-bottom: 39px;
  }
  .faq__question {
    width: 90%;
    height: 48px;
  }
  .partners {
    justify-content: space-between;
  }
  .partners .logos {
    justify-content: space-around;
  }
  .footer_callback-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer_callback-wrapper form {
    align-items: center;
    justify-content: center;
  }
  .footer_callback-wrapper form .footer__button {
    width: 220px;
    margin-left: 20px;
  }
  .footer_callback-wrapper form .callback__phone {
    height: 47px;
    width: 180px;
  }
  .footer_callback-wrapper form p {
    margin-right: 246px;
  }
  .footer__menu .menu__list a {
    color: black;
  }
  .footer__menu li:last-child {
    padding-right: 10px;
  }
  .footer__menu .menu__list {
    padding-right: 25px;
  }
  .footer__copywrite-right {
    font-size: 10px;
    font-weight: 400;
    margin: 18px 0px 10px 350px;
  }
}
